#container{
  position: relative;
  height: 150vh;
  width: 100%;
  border: solid 1px red;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 23px;
}

.slide{
  /* transition:.3s cubic-bezier(.645,.045,.355,1); */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
  top: 0;
  /* height: 210px;
  width: 150px; */
  max-width: 140px;
  margin: 15px;
  background: mediumblue; 
  color:white;
  font-size: 2rem;
}
/* .slide:hover{
  transition:.3s cubic-bezier(.645,.045,.355,1);
  transform: scale(1.5) !important;
}

.beside {
  transform: scale(1.15) !important;
  transition:.3s cubic-bezier(.645,.045,.355,1);
} */


.one {
  position: absolute;
  top: 4%;
  left: 11%;
}

.three {
  position: absolute;
  top: 28%;
  left: 38%;
}
.four {
  position: absolute;
  top: 33%;
  left: 18%;
}
.five {
  position: absolute;
  top: 2%;
  left: 70%;
}
.six {
  position: absolute;
  top: 22%;
  left: 88%;
}
.seven {
  position: absolute;
  top: 39%;
  left: 68%;
}
